html,body,#root,.App{
    height: 100% !important;
    width: 100% !important;
}
.row{
    margin: 0px !important;
}
.booking{
    width: 33.33%;
    max-width: auto;
    padding: 20px;
}
.css-di4d8m-MuiPaper-root-MuiCard-root{
    max-width: 100% !important;
    width: 100% !important;
}
.common{
background: rgb(248 249 250);
}
@media only screen and (max-width: 600px) {
    .booking {
      background-color: lightblue;
    }
   
        .Parent1{
      
        overflow: auto;
        
      
  }}
